@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_Master.cshtml";
}
 <link rel="stylesheet" type="text/css" href="/Content/Forget_password.css" />
@{Html.RenderPartial("Nav");}

@if (ViewBag.Step == 0)
{
    <form method="post" action="">
    <div class="Forget_password_box">
    <div class="mt">
		<h2>找回密码</h2>
		<b></b>
	</div>
    <div class="mc">
		<div class="step">
            <ul>
               <li class="one cur">1、填写账户名</li>
               <li class="">2、验证身份</li>
               <li class="">3、设置新密码</li>
               <li class="four">4、完成</li>
            </ul>
        </div>
		<div class="form">
			
			
            找回密码请电话联系客服！
			
		</div>
		<!--[if !ie]>form end<![endif]-->
		
		<span class="clr"></span>
			
	</div>     
    </div><!--register-->    
    </form>
}

@if (ViewBag.Step == 1)
{
    <form method="post" action="">
    <div class="Forget_password_box">
    <div class="mt">
		<h2>找回密码</h2>
		<b></b>
	</div>
    <div class="mc">
		<div class="step">
            <ul>
               <li class="one">1、填写账户名</li>
               <li class="two cur">2、验证身份</li>
               <li class="">3、设置新密码</li>
               <li class="four">4、完成</li>
            </ul>
        </div>
		<div class="form">
			@ViewBag.error
			<div class="item">
				<span class="label">已验证手机：</span>
				<div class="fl">
					<!-- text_error -->
					<label class="text-ifo text-one">@ViewBag.phone.Substring(0, 3)<span style="padding:0 4px;">*****</span>@ViewBag.phone.Substring(8, 3)</label>
                    <a class="e-ifon" onclick="sendcode()" id="fp_btn_sms">获取短信验证码</a>
					<div class="clr"></div>
					
				</div>
			</div>
			<div class="item">
				<span class="label">短信验证码：</span>
				<div class="fl">
					<input type="text" tabindex="3" id="smscode" name="smscode" onblur="fd_code_blur('smscode')" class="text text-1" style="width:35px" /><span id="ss1"></span>			
					<div class="clr"></div>
					<label class="msg-error" id="s2">验证码错误</label>
				</div>
			</div>
			<div class="item">
				<span class="label">&nbsp;</span>
				<input type="submit" tabindex="4" value="下一步" class="btn-img btn-entry" onclick="return fp_check_sms_submit()" />
                <input name="step" value="2" type="hidden" />
                <input id="sphone" name="sphone" value="@ViewBag.phone" type="hidden" />
			</div>			
		</div>
		<!--[if !ie]>form end<![endif]-->		
		<span class="clr"></span>			
	</div>    
    </div><!--register-->     
    </form>
}

@if (ViewBag.Step == 2)
{
    <form method="post" action="">
    <div class="Forget_password_box">
    <div class="mt">
		<h2>找回密码</h2>
		<b></b>
	</div>
    <div class="mc">
		<div class="step">
            <ul>
               <li class="one one1">1、填写账户名</li>
               <li class="two">2、验证身份</li>
               <li class="three cur">3、设置新密码</li>
               <li class="four">4、完成</li>
            </ul>
        </div>
		<div class="form">
			<div class="item">
				<span class="label">新登录密码：</span>
				<div class="fl">
					<input type="password" tabindex="3" id="pass" name="pass" class="text3">
					
					<div class="clr"></div>
					<label class="msg-error" id="sp"></label>
				</div>
			</div>
			
			<div class="item">
				<span class="label">确认新密码：</span>
				<div class="fl">
					<input type="password" tabindex="3" id="passc" name="passc" class="text3">
					
					<div class="clr"></div>
					<label class="msg-text"></label>
				</div>
			</div>
			<div class="item">
				<span class="label">&nbsp;</span>
				<input type="submit" tabindex="4" value="完成" onclick="return fp_pass_submit()"  class="btn-img btn-entry1">
                <input name="step" value="3" type="hidden" />
                <input id="cphone" name="cphone" value="@ViewBag.phone" type="hidden" />
			</div>			
		</div>
		<!--[if !ie]>form end<![endif]-->		
		<span class="clr"></span>			
	</div>
    </div><!--register-->    
    </form>
}
@if (ViewBag.Step == 3)
{
    <div class="Forget_password_box">
    <div class="mt">
		<h2>找回密码</h2>
		<b></b>
	</div>
    <div class="mc">
		<div class="step">
            <ul>
               <li class="one one1">1、填写账户名</li>
               <li class="two two1">2、验证身份</li>
               <li class="three">3、设置新密码</li>
               <li class="four cur four1">4、完成</li>
            </ul>
        </div>
		<div class="form">
		<div class="m-return">
                <b></b><span><strong>密码修改成功</strong><br>请牢记您新设置的密码。<a href="/">返回首页</a></span>
             </div>
		</div>
		<!--[if !ie]>form end<![endif]-->
		
		<span class="clr"></span>
			
	</div>
  
     
    </div><!--register-->
    
}

<script language="javascript" type="text/javascript" src="/scripts/check.js"></script>