@model PagedList<System.Data.DataRow>
@using System.Data;
@using SOSOshop.Model.Order;
@using Webdiyer.WebControls.Mvc
@using _101shop.v3.Controllers
@{
    ViewBag.Title = "我的采购模板";
    DataTable list = ViewBag.List;//当前模板商品列表
    IEnumerable<SOSOshop.Model.Order.OrderProductCart> Carts = ViewBag.Carts;//选择模板
}
<link rel="stylesheet" type="text/css" href="/Content/101Membercenter_CartPro.css" />
<style type="text/css">
    .xstooltip
    {
        background: #efefef;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 20;
        z-index: 2;
        padding-left: 2px;
        padding-top: 2px;
        display: none;
    }
    .xstooltip th
    {
        padding: 2px 4px 2px 4px;
        border: 1px solid #aeaeae;
        text-align: center;
    }
    .xstooltip td
    {
        padding: 2px 4px 2px 4px;
        border: 1px solid #aeaeae;
    }
    .xstooltip .right
    {
        text-align: right;
    }
    .xstooltip .center
    {
        text-align: center;
    }
    .zk_info_1
    {
        width: 130px;
    }
    .zk_info_2
    {
        width: 190px;
    }
    .zk_info_3
    {
        width: 150px;
    }
    .zk_info_4
    {
        width: 90px;
    }
    .zk_info_5
    {
        width: 85px;
    }
    .zk_info_6
    {
        width: 110px;
    }
    .zk_info_7
    {
        width: 65px;
    }
    .list_shop_title .ls_01
    {
        width: 120px;
    }
    .list_shop_title .ls_02
    {
        width: 180px;
    }
    .list_shop_title .ls_03
    {
        width: 140px;
    }
    .list_shop_title .ls_04
    {
        width: 80px;
    }
    .list_shop_title .ls_05
    {
        width: 75px;
    }
    .list_shop_title .ls_06
    {
        width: 100px;
    }
    .list_shop_title .ls_07
    {
        width: 55px;
        border-right: 0 none;
    }
    .zk_info a
    {
        color: #0077BD;
    }
    .zhb
    {
        color: #3344EE;
    }
    input, button
    {
        font-size: 13px;
        padding: 2px;
    }
    .zk_info li
    {
        height: 40px;
        padding: 8px 0 0;
    }
    .zk_info li span.liner
    {
        display: block;
        cursor: default;
        line-height: 100%;
        height: 18px;
    }
    .zk_info_input_box
    {
        margin: 4px 0;
        _margin: 2px 0;
        color: #666;
        float: left;
        font-weight: normal;
        width: 99px;
        _width: 104px;
        white-space: nowrap;
        overflow: hidden;
        padding: 3px 0 0 0;
    }
    .zk_info_input
    {
        border: 1px solid #999;
        height: 22px;
        width: 75px;
        position: relative;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
        _margin-left: 0px;
        margin-top: -3px;
    }
    .zk_info_input input
    {
        border: none;
        width: 34px;
        text-align: center;
        margin-top: 2px;
        float: left;
    }
    .zk_info_input .jianshao
    {
        position: static;
        padding: 1px 2px;
        width: 15px;
        height: 15px;
        float: left;
        cursor: pointer;
    }
    .zk_info_input .zhengjia
    {
        position: static;
        float: right;
        padding-top: 1px;
        padding-right: 2px;
        cursor: pointer;
    }
    .zk_info_8 span
    {
        padding: 0;
    }
    .step1, .step2, .step3
    {
        clear: both;
    }
    .search_01
    {
        width: 400px;
    }
    .wBox_content input
    {
        border: 1px solid #AAAAAA;
    }
    select
    {
        padding: 1px;
    }
</style>
<script type="text/javascript" src="/Scripts/wbox/wbox.js?v=@_101shop.v3.MvcApplication.ModifiedNo()"></script>
<link rel="stylesheet" type="text/css" href="/Scripts/wbox/wbox/wbox.css?v=@_101shop.v3.MvcApplication.ModifiedNo()" />
<script type="text/javascript">
        /*买家*/var member = { uid: @ViewBag.UID, name: '@ViewBag.TrueName', mobilePhone: '@ViewBag.MobilePhone' };
</script>
@{Html.RenderPartial("Nav");}
<ul class="list_nav">
    <li><a href="/MemberCenter/">会员中心</a> &gt; <span>交易管理</span> &gt; <span>快捷下单</span></li>
</ul>
<div class="mc_left">
    @{Html.RenderPartial("MemberCenter_LeftMenu");}
</div>
<div class="mc_right">
    <div class="Remind">
        <div>
            我的快捷下单</div>
    </div>
    <div class="search_01" style="float: left; font-size: 14px;">
        &nbsp;&nbsp;快捷下单 >
    </div>
    <div class="search_01" style="text-align: right;">
        筛选模板：
        <select id="selectCarts" onchange="onselectcart(this)">
            <option value="">已购所有品种</option>
            @if (Carts != null)
            {
                foreach (SOSOshop.Model.Order.OrderProductCart item in Carts)
                {
                <option value="@item.CartId"@(Request["id"] != null && Request["id"].Equals(@item.CartId.ToString()) ? " selected" : "")>
                    @item.Name </option>
                }
            }
        </select>
        <button id="step2Btn" onclick="step2(this)" style="margin-left: 10px">
            快捷下单</button><br />
        <span class="step1" style="color: Red;">请先填写采购数量，再进行下单（如不需要就不选择，<a href="javascript:clear();"><span
            title="清空购买数量和所有选择" style="color: #0077BD">清空</span></a>）</span> <span class="step2"
                style="color: Red; display: none">请输入购买数量（如果不选择，则表示不购买）</span>
    </div>
    <div class="list_shop_title">
        <ul>
            <li class="ls_01">通用名</li>
            <li class="ls_02">规格</li>
            <li class="ls_03">生产企业</li>
            <li class="ls_04">最新价格</li>
            <li class="ls_05">累计购买数量</li>
            <li class="ls_06">购买数量</li>
            <li class="ls_07">选择</li>
        </ul>
    </div>
    @{
        foreach (DataRow dv in list.Rows)
        {        
        <ul class="zk_info">
            <li class="zk_info_1"><span><a href="/@{@dv["Product_ID"]}.html" target="_blank">@dv["DrugsBase_DrugName"]</a></span>
            </li>
            <li class="zk_info_2">
                @Html.Raw(string.Format("{0} x <span class=zhb>{1}</span>/{2}", dv["DrugsBase_Specification"], dv["Goods_ConveRatio"], dv["Goods_Unit"]))
                <samp>
                    &nbsp;(</samp>
                @if ((int)dv["Goods_Pcs"] >= 1)
                {
                    <span>@dv["Goods_Pcs"]</span><span>@dv["Goods_Unit"]/件</span>
                }
                <samp>
                    )&nbsp;</samp>
                @dv["DrugsBase_Formulation"]
            </li>
            <li class="zk_info_3">@dv["DrugsBase_Manufacturer"]</li>
            <li class="zk_info_4"><span id="pr-@(dv["Product_ID"])">@dv["showPrice"]</span>
                @if ((int)dv["is_kong"] == 1 && (decimal)dv["price_03"] > 0)
                { <span class="step1" style="color: Red; display: block; clear: both; padding-left: 35px;">控销</span> }
            </li>
            <li class="zk_info_5">@dv["ProNumBought"]</li>
            <li class="zk_info_6">
                @if ((string)dv["showPrice"] == "已下架")
                {
                    <span class="step1" style="color: Red;">已下架</span>
                }
                else if ((decimal)dv["Price"] <= 0)
                {
                    <span class="step1" style="color: Red;">@dv["showPrice"]</span>
                }
                else if ((int)dv["is_kong"] == 1 && (decimal)dv["price_03"] == 0)
                {
                    <span class="step1" style="color: Red;">控销</span>
                }
                else if ((int)dv["iscu"] == 1)
                {
                    <span class="step1" style="color: Red;">促销</span>
                }
                else if (!System.Text.RegularExpressions.Regex.IsMatch((string)dv["showPrice"], "^[0-9\\.]+$"))
                {
                    <span class="step1" style="color: Red;">@dv["showPrice"]</span>
                }
                else if ((int)dv["Stock"] > 0)
                {
                    bool is_cl = (1 == (int)dv["sellType"] || 2 == (int)dv["sellType"]/*dv["is_cl"].ToString() == "是" || 1 == (int)dv["Goods_Pcs"]*/);
                    int minsell = 1; int.TryParse(Convert.ToString(dv["minsell"]), out minsell); if (2 == (int)dv["sellType"]) { minsell = Math.Max((int)dv["Goods_Pcs_Small"], minsell); } if (minsell < 1) { minsell = 1; }
                    <span class="step1">
                        <div class="zk_info_input_box" style="margin: 0;">
                            <div class="zk_info_input">
                                <span class="jianshao">
                                    <img style="padding:2px 0;" src="/images/jianshao_bg.jpg" width="16" height="16" onclick="sub(@(dv["Product_ID"]));step1CheckOk(document.getElementById('h-@(dv["Product_ID"])'));" />
                                </span>
                                <input type="text" id="h-@(dv["Product_ID"])" gp="@(is_cl ? 1 : (int)dv["Goods_Pcs"])" onchange="step1CheckOk(this)" onblur="henum(@(dv["Product_ID"]))" class="numbers" value="1" minsell="@minsell" maxsell="@(is_cl ? (int)dv["maxsell"] : Math.Max((int)((int)dv["Stock"] / (int)dv["Goods_Pcs"]), 1))" jz="@(dv["Goods_Pcs"])" zbz="@(dv["Goods_Pcs_Small"])" selltype="@(dv["sellType"])" />
                                <span class="zhengjia">
                                    <img style="padding:2px 0;" src="/images/zhengjia_bg.jpg" width="16" height="16" onclick="add(@(dv["Product_ID"]));step1CheckOk(document.getElementById('h-@(dv["Product_ID"])'));"/>
                                </span>
                            </div>@(is_cl ? dv["Goods_Unit"] : "件")
                        </div>
                        <div id="msg-@(dv["Product_ID"])" style="display:block; clear:both; float:none; color:Green; padding-left:5px;">
                        </div>
                    </span>
                }
                else
                {
                    <span class="step1" style="color: Red;">可预定</span>
                }
            </li>
            <li class="zk_info_7">
                @if ((string)dv["showPrice"] == "已下架")
                {
                    <span class="step1" style="color: Red;"></span>
                }
                else if ((decimal)dv["Price"] <= 0)
                {
                    <span class="step1" style="color: Red;"></span>
                }
                else if ((int)dv["is_kong"] == 1 && (decimal)dv["price_03"] == 0)
                {
                    <span class="step1" style="color: Red;"></span>
                }
                else if ((int)dv["iscu"] == 1)
                {
                    <span class="step1" style="color: Red;"></span>
                }
                else if (!System.Text.RegularExpressions.Regex.IsMatch((string)dv["showPrice"], "^[0-9\\.]+$"))
                {
                    <span class="step1" style="color: Red;"></span>
                }
                else if ((int)dv["Stock"] > 0)
                {
                    <input type="checkbox" id="p-@(dv["Product_ID"])" class="numberp" onclick="step1CheckOk(this)" />
                }
                else
                {
                    <span class="step1" style="color: Red;"></span>
                }
            </li>
        </ul>
        }
    
    }
    <form action="/Shoppingcart/SubmitToShoppingCart" method="post" id="form1">
    <input name="pids" type="hidden" />
    <input name="nums" type="hidden" />
    </form>
    <div>
        @Html.Pager(Model, new Webdiyer.WebControls.Mvc.PagerOptions() { ShowFirstLast = false, ContainerTagName = "span", PageIndexParameterName = "pageIndex", ShowGoButton = false, HorizontalAlign = "right", NumericPagerItemCount = 8, CssClass = "paginator paginator1" })
    </div>
</div>
<!--content---------content------>
<script language="javascript" type="text/javascript">

    function onselectcart(c) {
        var id = $(c).val();
        if (id == "") {
            window.location = "/MemberCenter/CartPro";
        }
        else {
            window.location = "/MemberCenter/CartPro?id=" + id;
        }
    }

    var txt0 = "等待填写数量..", txt1 = "快捷下单", txt2 = "去结算";
    var wBox = 0;
    function step1CheckOk(b) {
        if ($.trim(b.value) != "") {
            var pids = step1CheckOkGetPid();
            if (pids.length) {
                $("#step2Btn").text(txt1);
            } else {
                $("#step2Btn").text(txt0);
            }
        }
    }

    function step1CheckOkGetPid() {
        var nss = $(".numbers"), pids = "", nssc = nss.length, nssi = 0;
        nss.each(function () { var o = $(this), num = parseInt(o.val()), proid = parseInt(o.attr("id").split("-")[1]), proidc = $("#p-" + proid); if (!isNaN(num) && num > 0 && !isNaN(proid) && proid > 0 && proidc.length && proidc[0].checked) pids += proid + ","; });
        return pids;
    }

    function step2(b) {
        var txt = $(b).text();
        if (txt == txt0) { return alert(txt0); }
        var pids = step1CheckOkGetPid();
        if (pids.length == 0) { $(b).text(txt0); return alert(txt0); }
        if (txt == txt2) {
            document.getElementById("form1").submit();
            ; return;
        }
        if (txt == txt1) {
            var nss = $(".numbers"), pids = "", nums = "", nssc = nss.length, nssi = 0;
            $(b).text(txt0); nss.each(function () { var o = $(this), num = parseInt(o.val()), gp = parseInt(o.attr("gp")), proid = parseInt(o.attr("id").split("-")[1]), proidc = $("#p-" + proid); if (!isNaN(num) && num > 0 && !isNaN(proid) && proid > 0 && proidc.length && proidc[0].checked) { pids += proid + ","; nums += (gp * num) + ","; } });
            if (pids.length && nums.length) {
                $("#step2Btn").text(txt1);
                wBox = $("#wbox1").wBox({
                    title: "请等待",
                    html: "<div style='display:block;width:100px;height:26px;margin:5px auto;'>&nbsp;&nbsp;<span id='fa90024'>正在保存...</span></div>",
                    timeout: 10000000000
                });
                wBox.showBox();
                $(".wBox_close").hide();
                var f = $('#form1'), input1 = f.find('input[name="pids"]'), input2 = f.find('input[name="nums"]');
                input1.val(pids); input2.val(nums); f[0].submit(); return;
            }
        }
    }
    function clear() { $(".numbers").val(''); $(".numberp").attr("checked", false); }
    $(".numbers").val('1');
</script>
<script language="javascript" type="text/javascript">
    function xstooltip_findPosX(obj) {
        var curleft = 0;
        if (obj.offsetParent) {
            while (obj.offsetParent) {
                curleft += obj.offsetLeft
                obj = obj.offsetParent;
            }
        }
        else if (obj.x)
            curleft += obj.x;
        return curleft;
    }
    function xstooltip_findPosY(obj) {
        var curtop = 0;
        if (obj.offsetParent) {
            while (obj.offsetParent) {
                curtop += obj.offsetTop
                obj = obj.offsetParent;
            }
        }
        else if (obj.y)
            curtop += obj.y;
        return curtop;
    }
    function xstooltip_show(tooltipId, parentId, posX, posY) {
        var table = document.getElementsByTagName("table");
        for (var i = 0; i < table.length; i++) {
            if (table[i].className == "detailTable") {
                table[i].style.display = "";
            }
        }
        it = document.getElementById(tooltipId);
        if ((it.style.top == '' || it.style.top == 0) && (it.style.left == '' || it.style.left == 0)) {
            // need to fixate default size (MSIE problem) 
            it.style.width = it.offsetWidth + 'px';
            it.style.height = it.offsetHeight + 'px';
            img = document.getElementById(parentId);
            // if tooltip is too wide, shift left to be within parent 
            if (posX + it.offsetWidth > img.offsetWidth) posX = img.offsetWidth - it.offsetWidth;
            if (posX < 0) posX = 0;
            x = xstooltip_findPosX(img) + posX;
            y = xstooltip_findPosY(img) + posY;
            it.style.top = y + 'px';
            it.style.left = x + 'px';
        }
        it.style.visibility = 'visible';
        it.style.display = 'block';
    }
    function xstooltip_hide(id) {
        var table = document.getElementsByTagName("table");
        for (var i = 0; i < table.length; i++) {
            if (table[i].className == "detailTable") {
                table[i].style.display = "none";
            }
        }
        it = document.getElementById(id);
        it.style.visibility = 'hidden';
        it.style.display = 'none';
    } 
</script>
<script language="javascript" type="text/javascript" src="/Scripts/shopcart-num.js"></script>
