@using System.Data;
@using System.Collections.Specialized;
@using SOSOshop.Model;
@{
    ViewBag.Title = (string.IsNullOrEmpty(ViewBag.TrueName) ? ViewBag.MobilePhone : ViewBag.TrueName) + "的会员中心";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section head
{
  <link rel="stylesheet" type="text/css" href="/Content/101MemberSafe_email.css" />
    <link rel="stylesheet" type="text/css" href="/Content/email_yz.css" />
  <style type="text/css">.code{width:auto;}</style>    
    <script type="text/javascript" src="/Scripts/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/scripts/mc-email.js"></script>
}
@{Html.RenderPartial("Nav");}
<ul class="list_nav">
    <li><a href="/MemberCenter/">会员中心</a> &gt; <span>账户管理</span> &gt; <span>验证邮箱</span></li>
</ul>
@{Html.RenderPartial("MemberCenter_LeftMenu");}
<!--list_left_detail-->
@{ int step = ViewBag.Step;
   string form = "/MemberCenter/Email";
   switch(step)
   {
       case 1:
           form = "/MemberCenter/EmailUpdate1";
           break;
       case 2:
           form = "/MemberCenter/EmailUpdate2";
           break;
           default:
           form = "/MemberCenter/Email";
           break;
           
   }
       
 }   
<form action="@form" method="post" id="form1"> <!--onsubmit="return CheckForm(this)"-->
    <div class="mc_right">
    <div class="Remind">验证邮箱</div>
    <div id="step@(ViewBag.Step)" class="step step01">
		<ul>
			<li class="fore1">1.验证身份<b></b></li><li class="fore2">2.@(Request["Check"] != null ? "验证" : "修改")邮箱<b></b></li><li class="fore3">3.完成</li>
		</ul>
	</div>
      <div class="safe-sevi m1">
          <span style="display: block; height: 22px; padding-left: 225px; font-weight: bold; color: red; font-size: 15px;">@Html.ValidationSummary()</span>
        @if (ViewBag.Step == 1)
        {
            if (ViewBag.StepOk == false)
            {
              <div id="Step1Table" class="mc mc_pw">
              <div class="reg_nub">
              <span class="rg_info">我的邮箱：</span>
                            @if (string.IsNullOrEmpty(ViewBag.Email))
                            {
                                <input id="Email" name="Email" type="text" maxlength="30"/>
                            }
                            else
                            {
                                <span style="font-weight: bold; line-height: 33px; height: 33px;">@ViewBag.Email</span>
                                <input id="Email" name="Email" type="hidden" value="@ViewBag.Email" />
                            }
                            <input id="StepOk" name="StepOk" type="hidden" value="@ViewBag.StepOk" />
              <label style="color:Red"> *</label>
              </div>
              <div class="code"> 
              <span class="rg_info">验证码：</span>
                <input id="Captcha" name="Captcha" type="text" maxlength="6" onblur="onCheck();" />
                <span class="codeimg">
                    <img border="0" id="imgCode" src="/include/captcha.ashx?r=7682689" alt="看不清，单击换一张"
                        onclick="this.src='/include/captcha.ashx?r='+Math.random()" title="点击可刷新验证码"
                        style="width: 103px; height: 30px;" /></span><label id="yzm"></label>
                      <span class="codets">看不清？
                      <a href="#" onclick="document.getElementById('imgCode').src='/include/captcha.ashx?r='+Math.random();return false;">
                      换一张</a></span><span id="codes"></span>
              </div>
              <div class="btn"><input class="but_sure" type="submit" value="提交" /></div>
              </div>
            }
            else
            {
              <div id="Step1Table" class="mc mc_pw">
              <div class="reg_nub">
              <span class="rg_info">已发送验证邮件至：</span>
                        <span style="font-weight: bold; line-height: 33px; height: 33px;">@ViewBag.Email</span>              
              </div>
              <div class="code"> 
                    <p class="ftx-03">
                                验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证。</p>
              </div>
              <div class="btn">
                @{
                string Email_Open = "location='http://www." + ViewBag.Email.Substring(ViewBag.Email.IndexOf('@') + 1) + "'";
                }
                <a href="javascript:void(0);" onclick="@Email_Open" class="btn btn-3"><s></s>查看验证邮件</a></div>
              </div>
            }
        }
        else if (ViewBag.Step == 2)
        {
            if (ViewBag.StepOk == false)
            {
              <div id="Step2Table" class="mc mc_pw">
              <div class="reg_nub">
              <span class="rg_info">我的邮箱：</span>
                            @if (string.IsNullOrEmpty(ViewBag.Email))
                            {
                                <input id="Email" name="Email" type="text" maxlength="30" onblur="sEmail();" />
                            }
                            else
                            {
                                <span style="font-weight: bold; line-height: 33px; height: 33px;">@ViewBag.Email</span>
                                <input id="Email" name="Email" type="hidden" value="@ViewBag.Email" />
                            }
              <label style="color:Red"> *</label><span id="s5"></span>
              </div>
              <div class="code"> 
              <span class="rg_info">验证码：</span>
                <input id="Captcha" name="Captcha" type="text" maxlength="6"  onblur="onCheck();" />
                <span class="codeimg">
                    <img border="0" id="imgCode" src="/include/captcha.ashx?r=7682689" alt="看不清，单击换一张"
                        onclick="this.src='/include/captcha.ashx?r='+Math.random()" title="点击可刷新验证码"
                        style="width: 103px; height: 30px;" /></span><label id="yzm"></label>
                      <span class="codets">看不清？
                      <a href="#" onclick="document.getElementById('imgCode').src='/include/captcha.ashx?r='+Math.random();return false;">
                      换一张</a></span><span id="codes"></span>
              </div>
              <div class="btn"><input class="but_sure" type="submit" value="提交" onclick="return CheckForm(this)" /></div>
              </div>
            }
            else
            {
            <div id="Step2Table" class="mc mc_pw">
                <div class="register">
                    <div class="register_ok">
                        已发送验证邮件至： <span style="font-weight: bold; line-height: 33px; height: 33px;">@ViewBag.Email</span>
                        <div class="code">
                            <p class="ftx-03">
                                验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证。</p>
                        </div>
                    </div>
                   </div>
                   </div>
                    }
        }
        else
        {
              <div id="Step3Table" class="mc mc_pw">
              <div class="register">
      <div class="register_ok">
        <h2 class="h2_ok">恭喜您，邮箱<span style=" padding:0 8px;">@ViewBag.Email</span>验证成功！</h2>        
        <p>成功验证邮箱后，你将可以得到第一手的@(System.Configuration.ConfigurationManager.AppSettings["CompanyFullName"])的促销信息和资讯信息</p>        
      </div>
    </div>              
             </div>
            
        }
      </div>
<div class="m7">
  <div class="mt"><h3>为什么要验证邮箱</h3></div>
      <div class="mc">                     
<p>1.验证邮箱可加强账户安全，你可以使用已验证邮箱快速找回密码及支付密码。</p>
2.已验证邮箱可用于账户余额变动提醒。
                    </div>
    </div>
<!---------------------------------------------------->
    </div><!---------mc_right------------>
</form>

