@model PagedList<System.Data.DataRow>
@using Webdiyer.WebControls.Mvc
@{
    ViewBag.Title = "积分明细";
    var Per = new SOSOshop.BLL.MemberPermission().GetModel(_101shop.v3.Controllers.BaseController.GetUserId());
    
}
@section head
{
    <link rel="stylesheet" type="text/css" href="/Content/101Membercenter_ordermanagerDetail.css" />
    <link href="/Content/cart_look.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".cancelall").click(function () {
                history.go(-1);
            });
        });
    </script>
}
@{Html.RenderPartial("Nav");}
<form action="/MemberCenter/IntegralExchange" method="post" class="Integral" style="display: none">
<input type="text" name="id" />
<input type="text" name="Number" />
</form>
<ul class="list_nav">
    <li><a href="/MemberCenter/">会员中心</a> &gt; <span>交易管理</span> &gt; <span>积分明细</span></li>
</ul>
<div class="mc_left">
    @{Html.RenderPartial("MemberCenter_LeftMenu");}
</div>
<div class="mc_right">
    <div class="Remind">
        <div style="width: 150px; float: left;">
            <span>积分明细：</span></div>
        <div class="search_01">
            
        </div>
    </div>
    <div class="mc">
        <dl>
            <dd class="p-list">
                <table cellpadding="0" cellspacing="0" width="828">
                    <tr>
                        <th>
                            积分数量
                        </th>
                        <th>
                            说明
                        </th>
                        <th>
                            类型
                        </th>
                        <th>
                            日期
                        </th>
                    </tr>
                    @foreach (System.Data.DataRow item in Model)
                    {
                        <tr>
                            <td>
                                @item["integral"]
                            </td>
                            <td>
                                @item["remarks"].ToString().TrimEnd(':')
                            </td>
                            <td>
                                @item["action"]
                            </td>
                            <td>
                                @(((DateTime)item["created"]).ToString("yyyy-MM-dd"))
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div>
        @Html.Pager(Model, new Webdiyer.WebControls.Mvc.PagerOptions() { ShowFirstLast = false, ContainerTagName = "span", PageIndexParameterName = "pageIndex", ShowGoButton = false, HorizontalAlign = "right", NumericPagerItemCount = 8, CssClass = "paginator paginator1" })
    </div>
</div>
@helper State(int s)
    {
        switch (s)
        {
            case 0:
                {
    <text>已取消</text>
                    break;
                }
            case 1:
                {
    <text>待处理</text>
                    break;
                }
            case 2:
                {
    <text>已处理</text>
                    break;
                }
            case 3:
                {
    <text>已邮寄</text>
                    break;
                }
        }
}